VITE_BASE_URL=http://localhost:5173
VITE_API_URL=http://localhost/api
VITE_API_BASE_URL=http://localhost
VITE_DEFAULT_LOCALE=en
VITE_DEFAULT_CURRENCY=EUR
VITE_APP_TITLE=Osec
VITE_ALLOWED_FILE_TYPES=application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.presentationml.presentation,text/plain,application/pdf,image/x-png,image/gif,image/jpeg,image/png
VITE_ALLOWED_IMAGE_TYPES=image/x-png,image/gif,image/jpeg,image/png
VITE_S3_ENDPOINT=https://d2shs8akuqsy6x.cloudfront.net
VITE_S3_BUCKET=osec-uploads
VITE_DEFAULT_IMAGE=https://d2shs8akuqsy6x.cloudfront.net/eyJidWNrZXQiOiJvc2VjLXVwbG9hZHMiLCJrZXkiOiJpbWFnZXNcL25vX2ltYWdlLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MzAwLCJoZWlnaHQiOjMwMCwiZml0IjoiY292ZXIifX19